@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Source+Code+Pro&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: 'Segoe UI Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Segoe UI Regular'), url('/assets/fonts/Segoe UI.woff') format('woff');
}


@font-face {
	font-family: 'Segoe UI Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Segoe UI Italic'), url('/assets/fonts/Segoe UI Italic.woff') format('woff');
}


@font-face {
	font-family: 'Segoe UI Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Segoe UI Bold'), url('/assets/fonts/Segoe UI Bold.woff') format('woff');
}


@font-face {
	font-family: 'Segoe UI Bold Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Segoe UI Bold Italic'), url('/assets/fonts/Segoe UI Bold Italic.woff') format('woff');
}

body {
	font-family: 'Montserrat';
	color: lightgray;
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
	rgb(var(--background-start-rgb));
}

code {
	color: lightyellow !important;
	font-family: 'Source Code Pro' !important;
	font-size: 0.8em !important;

	* {
		font-family: 'Source Code Pro' !important;
		font-size: 1em !important;
	}
}

::selection {
	color: white;
	background: darkblue;
}
